body{ background: whitesmoke;}
section{ background:#EEE0CB;}
.h1-heading { 
    color:#280003; 
}
.paragraph-style { 
    color: black
}
.second-header {
color:#6D213C
}
.h3-heading {
    color: #72050c
}
#top {background:#C2847A
}
a {
    color: #870058
}
nav a {
    color: #870058
}
.javascript-yellow {
    background-color: #f7df1e;
}